---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Maps from "../components/Maps.astro";
---

<Layout title="Contacto">
  <div class="container mx-auto py-3 mt-[260px] md:mt-[240px]">
    <div class="flex flex-col md:flex-row px-2 md:px-0">
      <div
        class="bg-slate-800 w-full md:w-1/2 p- flex flex-col justify-center p-5"
      >
        <h1 class="text-white text-4xl py-2">Automotive Consulting</h1>
        <p class="text-white py-5 text-xl">
          Escríbenos si tienes alguna duda o si quiere vender su automovil de
          forma segura y confiable con nosotros, contamosc con una amplia
          experiencia y conocimiento en el rubro automotriz.
        </p>
        <div class="py-2">
          <h2 class="text-white text-3xl">Escríbenos a:</h2>
          <div class="bg-slate-700 px-2 py-5 mr-0 md:mr-2 mt-5 md:inline-block">
            <h3 class="text-white text-xl">Solange Roco:</h3>
            <a class="text-white" href="tel:+56976225094">(+56 9) 7622 5094</p>
            <p class="text-white">roco.solange@automotiveconsulting.cl</p>
          </div>
          <div class="bg-slate-700 px-2 py-5 mr-0 md:mr-2 mt-5 md:inline-block">
            <h3 class="text-white text-xl">Alvaro Naranjo:</h3>
            <p class="text-white">naranjo.alvaro@automotiveconsulting.cl</p>
            <a class="text-white" href="tel:+56962828236">(+56 9) 6282 8236</a>
          </div>
        </div>
        <div class="py-2">
          <h2 class="text-white text-3xl py-2">Llámanos al:</h2>
          <p class="text-white">+569 7622 5094</p>
        </div>

        <div class="py-2">
          <h2 class="text-white text-xl">Dirección:</h2>
          <p class="text-white">Camino El Alba 8760 OF 304, Las Condes</p>
        </div>

        <div>
          <div class="social"></div>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <ContactForm titulo="Contacto" />
      </div>
    </div>
    <Maps />
  </div>
</Layout>
