---
import Layout from "../layouts/Layout.astro"
import ContactForm from "../components/ContactForm.astro"
---
<Layout title="Contacto">
  <div class="container mx-auto py-10">
    <ContactForm titulo="Contacto" />
  </div>
</Layout>