---
import FeaturedCars from "../components/FeaturedCars.astro";
import Maps from "../components/Maps.astro";
import Partners from "../components/Partners.astro";
import Services from "../components/Services.astro";
import Slider from "../components/Slider.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Automotive Consulting">
  <main class=" text-white">
   <Slider/>
   <Services />
   <FeaturedCars /> 
   <Partners />
   <Testimonials />
  <Maps />
  </main>
</Layout>
