---
import FeaturedCars from "../components/FeaturedCars.astro";
import Partners from "../components/Partners.astro";
import Services from "../components/Services.astro";
import Slider from "../components/Slider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Automotive Consulting">
  <main class="container mx-auto text-white">
   <Slider/>
   <Services />
   <FeaturedCars /> 
  <Partners />
  </main>
</Layout>
