---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <section class="container mx-auto">
    <div class="py-10">
      <div class="flex flex-col justify-center text-xl py-2">
        <small class="text-center text-white">Automotive Consulting:</small>
        <h1 class="text-xl font-bold text-center text-white md:text-5xl pb-5">
          Expertos en Asesoría Automotriz
        </h1>
      </div>
      <p class="text-center text-white text-sm px-2 md:px-[200px] md:text-xl">
        Con más de 20 años de experiencia, liderados por la especialista Solange
        Roco, te acompañamos en cada paso para comprar o vender tu vehículo de
        forma fácil y segura.
      </p>
    </div>
  </section>

  <section class="container mx-auto"></section>

  <section class="container mx-auto">
    <h2 class="text-white text-center text-xl py-10 md:text-4xl">
      ¿Por qué elegirnos?
    </h2>
    <p class="text-white text-center text-xl py-5 md:pb-10 md:text-2xl">
      En Automotive Consulting, somos tu mejor aliado para la compra y venta de
      vehículos. Nuestra fundadora, Solange Roco, y su equipo de expertos, te
      brindarán una atención personalizada y profesional, asegurando que
      encuentres el vehículo perfecto o realices la mejor venta.
    </p>

    <!-- component -->
    <div class="relative z-20">
      <div class="mx-auto max-w-container px-4 pb-16 sm:px-6 lg:px-8">
        <div
          class="relative mx-auto grid max-w-[40rem] grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-2"
        >
          <div class="ml-3 text-center">
            <h2 class="text-2xl font-semibold leading-6 text-white">
              20 Años de Experiencia:
            </h2>
            <p class="mt-2 text-xl leading-6 text-white">
              Amplio conocimiento del mercado automotriz.
            </p>
          </div>

          <div class="ml-3 text-center">
            <h2 class="text-2xl font-semibold leading-6 text-white">
              Asesoría Personalizada:
            </h2>
            <p class="mt-2 text-xl leading-6 text-white">
              Solange Roco y su equipo te guiarán en cada etapa del proceso.
            </p>
          </div>

          <div class="ml-3 text-center">
            <h2 class="text-2xl font-semibold leading-6 text-white">
              Servicio Completo:
            </h2>
            <p class="mt-2 text-xl leading-6 text-white">
              Nos ocupamos de todo, desde la selección hasta los trámites
              finales.
            </p>
          </div>

          <div class="ml-3 text-center">
            <h2 class="font-semibold leading-6 text-white text-2xl">
              Confianza y Transparencia:
            </h2>
            <p class="mt-2 text-xl leading-6 text-white">
              Operaciones claras y seguras, siempre a tu favor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
