---
import CardVehicule from  "./CardVehicule.astro"
import {getCars} from '../services/automotive';

const autos = await getCars();
---
<section class="py-[100px] bg-featured">
    <div class="container mx-auto">
      <h2 class="text-xl text-center md:text-6xl font-bold mb-4 ">Destacados</h2>
    <p class="text-sm text-center md:text-xl mb-5">Tenemos una amplia variedad de vehículos usados de las mejores marcas.</p>

    <div id="slider3" class="splide mx-2 md-mx-0 md:my-10" aria-label="galeria de autos" >
        <div class="splide__track">
              <ul class="splide__list">
                    {autos.map((auto) => (
                         <li class="splide__slide">
                          <CardVehicule {...auto} key={auto.id} />
                        </li>
                    ))}
              </ul>
        </div>
    </div>
    </div>
</section>


<script>
    import "@splidejs/splide/css";
    import Splide from "@splidejs/splide";
    
let autos = new Splide("#slider3", {
  type: "loop",
  focus: "center",
  gap: "2px",
  autoplay: true,
  interval: 5000,
  pauseOnHover: false,
  perPage: 3,
  pagination:false,
  breakpoints: {
    468: {
      perPage: 1,
      gap: '10px', // Ajusta el espacio entre las tarjetas en pantallas pequeñas
    },
    768: {
      perPage: 2,
      gap: '10px', // Ajusta el espacio entre las tarjetas en pantallas medianas
    },
    1024: {
      perPage: 3,
      gap: '0px', // Ajusta el espacio entre las tarjetas en pantallas grandes
    },
  },
});
  autos.mount();
</script>

<style>
.bg-featured{
  background-size:cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(17%2c 27%2c 40%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c510.439C117.846%2c536.034%2c239.856%2c591.648%2c352.415%2c548.369C470.507%2c502.962%2c571.974%2c398.751%2c606.807%2c277.119C640.666%2c158.888%2c570.32%2c40.247%2c531.334%2c-76.394C498.979%2c-173.196%2c468.243%2c-270.767%2c398.711%2c-345.485C330.693%2c-418.577%2c241.473%2c-468.353%2c144.492%2c-492.093C50.293%2c-515.152%2c-43.404%2c-483.752%2c-140.176%2c-477.397C-268.721%2c-468.955%2c-417.894%2c-530.032%2c-517.718%2c-448.605C-616.134%2c-368.326%2c-622.7%2c-215.537%2c-616.724%2c-88.672C-611.329%2c25.86%2c-551.725%2c127.965%2c-486.13%2c222.008C-429.286%2c303.505%2c-351.54%2c363.337%2c-266.086%2c414.038C-183.278%2c463.17%2c-94.093%2c490.003%2c0%2c510.439' fill='%230e1621'%3e%3c/path%3e%3cpath d='M1440 1038.719C1548.8 1032.905 1659.456 1100.154 1759.696 1057.4560000000001 1864.433 1012.842 1928.0059999999999 907.717 1982.367 807.691 2039.7939999999999 702.024 2105.34 585.55 2080.06 467.973 2055.058 351.68600000000004 1933.096 290.031 1852.3 202.74 1774.641 118.83800000000002 1725.404-6.442999999999984 1614.661-34.84000000000003 1504.202-63.16399999999999 1398.535 16.15599999999995 1292.987 59.321000000000026 1198.3 98.04399999999998 1110.4769999999999 141.73200000000003 1029.6309999999999 204.413 931.178 280.745 811.195 345.851 771.23 463.845 729.199 587.939 751.723 730.472 812.061 846.77 871.117 960.597 974.931 1055.354 1097.564 1092.841 1210.363 1127.321 1322.217 1045.013 1440 1038.719' fill='%2314202f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
#slider3 {
  max-width: 1400px; /* Ajusta esto según el tamaño deseado */
  margin: 0 auto;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Ajusta el padding para espaciar las tarjetas */
  box-sizing: border-box;

}
.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Opcional: Añade bordes redondeados a las imágenes */
}
</style>