---
import CarIcon from "./CarIcon.astro";
---

<footer class="bg-black">
  <div class="container px-6 py-12 mx-auto">
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-5"
    >
      <div class="flex flex-wrap justify-center col-start-1 md:col-start-3">
        <img
          src="/images/logo.png"
          alt="automotive consulting"
          width="200"
          height="200"
        />
      </div>
    </div>

    <hr class="my-6 border-gray-100 md:my-8" />

    <div class="flex flex-col md:flex md:flex-row items-center justify-between">
      <p class="text-white text-center pb-5 md:p-0 md:text-left">
        Automotive Consulting @2024 - Todos los derechos reservados - Sitio desarrollado por 
        <a href="https://www.venpu.cl" class="text-white" target="_blank">Venpu.cl</a>
      </p>
      <div class="flex -mx-2">
        <img src="/images/brands/logo-webpay-2.webp" alt="webpay" />
        <a
          href="https://web.facebook.com/automotiveconsultingcl"
          class="mx-2 text-white transition-colors duration-300 dark:text-gray-300 hover:text-cyan-500"
          aria-label="Facebook"
          target="_blank"
        >
          <svg
            class="w-5 h-5 fill-current"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.00195 12.002C2.00312 16.9214 5.58036 21.1101 10.439 21.881V14.892H7.90195V12.002H10.442V9.80204C10.3284 8.75958 10.6845 7.72064 11.4136 6.96698C12.1427 6.21332 13.1693 5.82306 14.215 5.90204C14.9655 5.91417 15.7141 5.98101 16.455 6.10205V8.56104H15.191C14.7558 8.50405 14.3183 8.64777 14.0017 8.95171C13.6851 9.25566 13.5237 9.68693 13.563 10.124V12.002H16.334L15.891 14.893H13.563V21.881C18.8174 21.0506 22.502 16.2518 21.9475 10.9611C21.3929 5.67041 16.7932 1.73997 11.4808 2.01722C6.16831 2.29447 2.0028 6.68235 2.00195 12.002Z"
            >
            </path>
          </svg>
        </a>

        <a
          href="https://www.instagram.com/automotive_consulting_cl/"
          class="mx-2 text-white transition-colors duration-300 dark:text-gray-300 hover:text-cyan-500 dark:hover:text-blue-400"
          aria-label="Instagram"
          target="_blank"
        >
          <svg
            class="w-5 h-5 fill-current"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.75 2C4.68025 2 2.25 4.43025 2.25 7.5V16.5C2.25 19.5697 4.68025 22 7.75 22H16.25C19.3197 22 21.75 19.5697 21.75 16.5V7.5C21.75 4.43025 19.3197 2 16.25 2H7.75ZM12 7.75C14.0711 7.75 15.75 9.42892 15.75 11.5C15.75 13.5711 14.0711 15.25 12 15.25C9.92892 15.25 8.25 13.5711 8.25 11.5C8.25 9.42892 9.92892 7.75 12 7.75ZM18.25 6.25C18.25 6.66421 17.9142 7 17.5 7C17.0858 7 16.75 6.66421 16.75 6.25C16.75 5.83579 17.0858 5.5 17.5 5.5C17.9142 5.5 18.25 5.83579 18.25 6.25ZM12 9.5C11.3096 9.5 10.75 10.0596 10.75 10.75C10.75 11.4404 11.3096 12 12 12C12.6904 12 13.25 11.4404 13.25 10.75C13.25 10.0596 12.6904 9.5 12 9.5Z"
            >
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-size: cover;
 
  }
</style>
