---
import CarIcon from "./CarIcon.astro";
---

<footer class="bg-slate-800">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-5">
            <div class="flex flex-wrap justify-center col-start-3">
              <img src="/images/logo.png" alt="automotive consulting" width="200" height="200">
            </div>

          <!--   <div>
                <p class="font-semibold text-gray-500 text-xl">Menú</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="/" class="text-gray-200 transition-colors duration-300  hover:underline hover:text-cyan-500">Inicio</a>
                    <a href="/nosotros" class="text-gray-200 transition-colors duration-300  hover:underline hover:text-cyan-500">Nosotros</a>
                    <a href="/catalogo/1" class="text-gray-200 transition-colors duration-300  hover:underline hover:text-cyan-500">Catálogo</a>
                    <a href="/contacto" class="text-gray-200 transition-colors duration-300  hover:underline hover:text-cyan-500">Contacto</a>
                </div>
            </div> -->

            <!-- <div>
                <p class="font-semibold text-gray-500 text-xl">Información</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="#" class="text-gray-200 transition-colors duration-300 dark:text-gray-300  hover:underline hover:text-cyan-500">¿Comó comprar un auto?</a>
                    <a href="#" class="text-gray-200 transition-colors duration-300 dark:text-gray-300 hover:underline hover:text-cyan-500">Vender mi auto</a>
                    <a href="#" class="text-gray-200 transition-colors duration-300 dark:text-gray-300  hover:underline hover:text-cyan-500">Financiamiento</a>
                </div>
            </div> -->
        </div>
        
        <hr class="my-6 border-gray-100 md:my-8 ">
        
        <div class="flex items-center justify-between">
            <p class="text-white">
                Automotive Consulting @2024 - Todos los derechos deservados
            </p>
            <div class="flex -mx-2">
                <img src="/images/brands/logo-webpay-2.webp" alt="webpay">
                <a href="https://web.facebook.com/automotiveconsultingcl" class="mx-2 text-white transition-colors duration-300 dark:text-gray-300 hover:text-cyan-500" aria-label="Facebook" target="_blank">
                    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.00195 12.002C2.00312 16.9214 5.58036 21.1101 10.439 21.881V14.892H7.90195V12.002H10.442V9.80204C10.3284 8.75958 10.6845 7.72064 11.4136 6.96698C12.1427 6.21332 13.1693 5.82306 14.215 5.90204C14.9655 5.91417 15.7141 5.98101 16.455 6.10205V8.56104H15.191C14.7558 8.50405 14.3183 8.64777 14.0017 8.95171C13.6851 9.25566 13.5237 9.68693 13.563 10.124V12.002H16.334L15.891 14.893H13.563V21.881C18.8174 21.0506 22.502 16.2518 21.9475 10.9611C21.3929 5.67041 16.7932 1.73997 11.4808 2.01722C6.16831 2.29447 2.0028 6.68235 2.00195 12.002Z">
                        </path>
                    </svg>
                </a>
            
                <a href="https://www.instagram.com/automotive_consulting_cl/" class="mx-2 text-white transition-colors duration-300 dark:text-gray-300 hover:text-cyan-500 dark:hover:text-blue-400" aria-label="Instagram" target="_blank">
                    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.75 2C4.68025 2 2.25 4.43025 2.25 7.5V16.5C2.25 19.5697 4.68025 22 7.75 22H16.25C19.3197 22 21.75 19.5697 21.75 16.5V7.5C21.75 4.43025 19.3197 2 16.25 2H7.75ZM12 7.75C14.0711 7.75 15.75 9.42892 15.75 11.5C15.75 13.5711 14.0711 15.25 12 15.25C9.92892 15.25 8.25 13.5711 8.25 11.5C8.25 9.42892 9.92892 7.75 12 7.75ZM18.25 6.25C18.25 6.66421 17.9142 7 17.5 7C17.0858 7 16.75 6.66421 16.75 6.25C16.75 5.83579 17.0858 5.5 17.5 5.5C17.9142 5.5 18.25 5.83579 18.25 6.25ZM12 9.5C11.3096 9.5 10.75 10.0596 10.75 10.75C10.75 11.4404 11.3096 12 12 12C12.6904 12 13.25 11.4404 13.25 10.75C13.25 10.0596 12.6904 9.5 12 9.5Z">
                        </path>
                    </svg>
                </a>
            </div>
            
            
        </div>
    </div>
</footer>

<style>
    footer {
        background-size:cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(17%2c 27%2c 40%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c510.439C117.846%2c536.034%2c239.856%2c591.648%2c352.415%2c548.369C470.507%2c502.962%2c571.974%2c398.751%2c606.807%2c277.119C640.666%2c158.888%2c570.32%2c40.247%2c531.334%2c-76.394C498.979%2c-173.196%2c468.243%2c-270.767%2c398.711%2c-345.485C330.693%2c-418.577%2c241.473%2c-468.353%2c144.492%2c-492.093C50.293%2c-515.152%2c-43.404%2c-483.752%2c-140.176%2c-477.397C-268.721%2c-468.955%2c-417.894%2c-530.032%2c-517.718%2c-448.605C-616.134%2c-368.326%2c-622.7%2c-215.537%2c-616.724%2c-88.672C-611.329%2c25.86%2c-551.725%2c127.965%2c-486.13%2c222.008C-429.286%2c303.505%2c-351.54%2c363.337%2c-266.086%2c414.038C-183.278%2c463.17%2c-94.093%2c490.003%2c0%2c510.439' fill='%230f1722'%3e%3c/path%3e%3cpath d='M1440 1038.719C1548.8 1032.905 1659.456 1100.154 1759.696 1057.4560000000001 1864.433 1012.842 1928.0059999999999 907.717 1982.367 807.691 2039.7939999999999 702.024 2105.34 585.55 2080.06 467.973 2055.058 351.68600000000004 1933.096 290.031 1852.3 202.74 1774.641 118.83800000000002 1725.404-6.442999999999984 1614.661-34.84000000000003 1504.202-63.16399999999999 1398.535 16.15599999999995 1292.987 59.321000000000026 1198.3 98.04399999999998 1110.4769999999999 141.73200000000003 1029.6309999999999 204.413 931.178 280.745 811.195 345.851 771.23 463.845 729.199 587.939 751.723 730.472 812.061 846.77 871.117 960.597 974.931 1055.354 1097.564 1092.841 1210.363 1127.321 1322.217 1045.013 1440 1038.719' fill='%23141f2e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
</style>