---
import Whatsapp from '../components/Whatsapp.astro'
import Navbar from '../components/Navbar.astro'
---


<header class="border-b-2 fixed top-0 w-full z-50">
  <div class="bg-slate-800 w-full">
    <div class="flex flex-col items-center text-center md:flex md:flex-row md:justify-between text-white container mx-auto py-3 ">
        <div class="text-white flex items-center justify-center">
          <p>roco.solange@automotiveconsulting.cl
        </p> 
        </div>
        <div>
            <div class="flex items-center py-1">
              <Whatsapp/><a href="#" class="text-xl font-semibold pl-1">(+569) 7622 5094 </a>
            </div>
        </div>
    </div>
</div>
    <Navbar/>
</header>
