<div class="relative h-[400px] w-full mt-5">
    <div class="mapa py-5">
      <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.6442885963106!2d-70.54716412381586!3d-33.406443273406964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cebdfd27eea9%3A0x40570cf4853f3d07!2sCam.%20El%20Alba%208760%2C%20OF%20304%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1720645695691!5m2!1ses-419!2scl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>