<h3 class="container mx-auto pt-10 text-white text-2xl">Camino El Alba 8760 OF 304, Las Condes</h3>

<div class="relative h-[400px] w-full mt-5">

    <div class="mapa py-5">
      <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.6442885963106!2d-70.54716412381586!3d-33.406443273406964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cebdfd27eea9%3A0x40570cf4853f3d07!2sCam.%20El%20Alba%208760%2C%20OF%20304%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1720645695691!5m2!1ses-419!2scl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</div>

  <h3 class="container mx-auto pt-10 text-white text-2xl pb-5">Sucursal en Auto Park, Av. Departamental 4400 y 4500, Macul</h3>

  <div class="h-[400px]">
    <iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.713281311335!2d-70.59720782381213!3d-33.50883607336641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d043b206554f%3A0xf63492918cd590f2!2sAv.%20Departamental%204400%2C%20Macul%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1725990657034!5m2!1ses-419!2scl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>