<section class="px-4 md:py-24 bg-services text-black">
  
  <div class="container mx-auto py-10">
    <h2 class="text-3xl text-center md:text-center md:text-6xl font-semibolds">Servicios</h2>
  <p class="text-sm text-center md:text-xl md:text-center text-gray-500 py-3">
    Asesoramiento automotriz especializado en compra y venta de vehículos con
    más de 20 años de experiencia. 
  </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-10">
        <div class=" rounded-lg bg-box shadow-lg overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/asesoria.webp" alt="Asesoría Automotriz">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Asesoría Automotriz</h2>
                <p class="text-gray-300 font-thin">Asesoramos todo el proceso para encontrar el vehículo que se acomode a las necesidades, respondiendo a tu estilo de vida y presupuesto, excelentes precios de mercado.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-box shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/compra-venta.webp" alt="Compra/Venta">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Compra / Venta</h2>
                <p class="text-gray-300 font-thin">Amplio Stock de vehículos garantizados por Automotoras. Stock propio de vehículos con entrega inmediata. Compramos tu auto, pagamos al instante.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-box shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/credito-automotriz.webp" alt="Trámites Notariales">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Trámites Notariales</h2>
                <p class="text-gray-300 font-thin">Equipo de profesionales enfocados en la gestión de la documentación del vehículo, Somos Partner asociados de Autofactpro, nos permite realizar trámites de manera digital.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-box shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/tramites-notariales.webp" alt="Crédito Automotriz">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Crédito Automotriz</h2>
                <p class="text-gray-300 font-thin">Puedes realizar tu compra con financiamiento y en diferentes formas de pago para agilizar y transparentar la gestión por medio de Red Compra - Tarjetas de Crédito. Parter asociado Transatuauto.</p>
            </div>
        </div>
    </div>
</div>

</section>

<style>
    .bg-services{
        background-size: cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c510.439C117.846%2c536.034%2c239.856%2c591.648%2c352.415%2c548.369C470.507%2c502.962%2c571.974%2c398.751%2c606.807%2c277.119C640.666%2c158.888%2c570.32%2c40.247%2c531.334%2c-76.394C498.979%2c-173.196%2c468.243%2c-270.767%2c398.711%2c-345.485C330.693%2c-418.577%2c241.473%2c-468.353%2c144.492%2c-492.093C50.293%2c-515.152%2c-43.404%2c-483.752%2c-140.176%2c-477.397C-268.721%2c-468.955%2c-417.894%2c-530.032%2c-517.718%2c-448.605C-616.134%2c-368.326%2c-622.7%2c-215.537%2c-616.724%2c-88.672C-611.329%2c25.86%2c-551.725%2c127.965%2c-486.13%2c222.008C-429.286%2c303.505%2c-351.54%2c363.337%2c-266.086%2c414.038C-183.278%2c463.17%2c-94.093%2c490.003%2c0%2c510.439' fill='%23ededed'%3e%3c/path%3e%3cpath d='M1440 1038.719C1548.8 1032.905 1659.456 1100.154 1759.696 1057.4560000000001 1864.433 1012.842 1928.0059999999999 907.717 1982.367 807.691 2039.7939999999999 702.024 2105.34 585.55 2080.06 467.973 2055.058 351.68600000000004 1933.096 290.031 1852.3 202.74 1774.641 118.83800000000002 1725.404-6.442999999999984 1614.661-34.84000000000003 1504.202-63.16399999999999 1398.535 16.15599999999995 1292.987 59.321000000000026 1198.3 98.04399999999998 1110.4769999999999 141.73200000000003 1029.6309999999999 204.413 931.178 280.745 811.195 345.851 771.23 463.845 729.199 587.939 751.723 730.472 812.061 846.77 871.117 960.597 974.931 1055.354 1097.564 1092.841 1210.363 1127.321 1322.217 1045.013 1440 1038.719' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 
    }
    .bg-box{
        background-size: cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(17%2c 27%2c 40%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c510.439C117.846%2c536.034%2c239.856%2c591.648%2c352.415%2c548.369C470.507%2c502.962%2c571.974%2c398.751%2c606.807%2c277.119C640.666%2c158.888%2c570.32%2c40.247%2c531.334%2c-76.394C498.979%2c-173.196%2c468.243%2c-270.767%2c398.711%2c-345.485C330.693%2c-418.577%2c241.473%2c-468.353%2c144.492%2c-492.093C50.293%2c-515.152%2c-43.404%2c-483.752%2c-140.176%2c-477.397C-268.721%2c-468.955%2c-417.894%2c-530.032%2c-517.718%2c-448.605C-616.134%2c-368.326%2c-622.7%2c-215.537%2c-616.724%2c-88.672C-611.329%2c25.86%2c-551.725%2c127.965%2c-486.13%2c222.008C-429.286%2c303.505%2c-351.54%2c363.337%2c-266.086%2c414.038C-183.278%2c463.17%2c-94.093%2c490.003%2c0%2c510.439' fill='%230e1621'%3e%3c/path%3e%3cpath d='M1440 1038.719C1548.8 1032.905 1659.456 1100.154 1759.696 1057.4560000000001 1864.433 1012.842 1928.0059999999999 907.717 1982.367 807.691 2039.7939999999999 702.024 2105.34 585.55 2080.06 467.973 2055.058 351.68600000000004 1933.096 290.031 1852.3 202.74 1774.641 118.83800000000002 1725.404-6.442999999999984 1614.661-34.84000000000003 1504.202-63.16399999999999 1398.535 16.15599999999995 1292.987 59.321000000000026 1198.3 98.04399999999998 1110.4769999999999 141.73200000000003 1029.6309999999999 204.413 931.178 280.745 811.195 345.851 771.23 463.845 729.199 587.939 751.723 730.472 812.061 846.77 871.117 960.597 974.931 1055.354 1097.564 1092.841 1210.363 1127.321 1322.217 1045.013 1440 1038.719' fill='%2314202f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
</style>

