<section class="py-5 px-4 md:py-24 ">
  <h2 class="text-2xl text-center md:text-left md:text-4xl py-5 font-semibolds">Servicios</h2>
  <p class="text-sm text-center md:text-xl md:text-left">
    Asesoramiento automotriz especializado en compra y venta de vehículos con
    más de 20 años de experiencia. 
  </p>
  <div class="container mx-auto py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class=" rounded-lg bg-slate-700 shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/asesoria.webp" alt="Asesoría Automotriz">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-300">Asesoría Automotriz</h2>
                <p class="text-white">Asesoramos todo el proceso para encontrar el vehículo que se acomode a las necesidades, respondiendo a tu estilo de vida y presupuesto, excelentes precios de mercado.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-slate-700 shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/compra-venta.webp" alt="Compra/Venta">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-300">Compra / Venta</h2>
                <p class="text-white">Amplio Stock de vehículos garantizados por Automotoras. Stock propio de vehículos con entrega inmediata. Compramos tu auto, pagamos al instante.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-slate-700 shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/credito-automotriz.webp" alt="Trámites Notariales">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-300">Trámites Notariales</h2>
                <p class="text-white">Equipo de profesionales enfocados en la gestión de la documentación del vehículo, Somos Partner asociados de Autofactpro, nos permite realizar trámites de manera digital.</p>
            </div>
        </div>
        <div class=" rounded-lg bg-slate-700 shadow-lg  overflow-hidden">
            <img class="w-full h-48 object-cover" src="/images/servicios/tramites-notariales.webp" alt="Crédito Automotriz">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-300">Crédito Automotriz</h2>
                <p class="text-white">Puedes realizar tu compra con financiamiento y en diferentes formas de pago para agilizar y transparentar la gestión por medio de Red Compra - Tarjetas de Crédito. Parter asociado Transatuauto.</p>
            </div>
        </div>
    </div>
</div>

</section>
