---
const { title, subtitle, icon: Icon, iconWidth, iconHeight } = Astro.props;
---

<div class="ml-3 text-center flex flex-col items-center">
  <div class="py-5">
    <Icon width={iconWidth} height={iconHeight} class="icon icon-tabler" />
  </div>
  <h2 class="text-2xl font-semibold leading-6 text-black">
    {title}
  </h2>
  <p class="mt-2 text-xl leading-6 text-gray-500 py-2 ">
    {subtitle}
  </p>
</div>